<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add car</title>
</head>
<body>
<form th:method="post" th:action="@{/}" th:object="${car}">
  <input type="hidden" name="id" th:field="*{id}">
  <label for="model">input model </label>
  <input name="model" type="text" id="model" th:field="*{model}">
  <br><br>
  <label for="year">input year</label>
  <input name="year" type="text" id="year" th:field="*{year}"/>
  <br><br>
  <label for="colour">input colour</label>
  <input name="colour" type="text" id="colour" th:field="*{colour}"/>
  <br><br>
  <input type="submit" value="Submit!"/>
</form>
</body>
</html>